<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Board</title>
    <link rel="stylesheet" href="main_board.css">
    <script src="https://kit.fontawesome.com/2a772c5ea3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header_board">
        <nav>
            <ul>
               
                <div class="lineOne">
                 
                <li><a href="#" class="botton"><i class="fa-solid fa-chart-simple"></i>
                    Board <i class="fa-solid fa-angle-down"></i></a></li>
                <input type="name" class="name-board"style="background-color:transparent; ">
                <li><a href="#" class="botton" <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></a></li>
                <li><a href="#" class="botton">Espacio de trabajo de Trello</button></a></li>
                <li><a href="#" class="botton"><i class="fa-solid fa-user-group"></i>Workspace visible</a></li>
                </div>
            
                <div class="lineTwo">
              
                <li><a href="#" class="botton"><i class="fa-solid fa-circle-h"></i></a></li>
                <li><a href="#" class="botton"><i class="fa-solid fa-user-plus"></i> Share</a></li>
                <li><a href="#" class="botton"><i class="fa-solid fa-rocket"> </i> Power-Ups</a></li>
                <li><a href="#" class="botton"><i class="fa-solid fa-bolt-lightning"></i> Automation</a></li>
                <li><a href="#" class="botton"><i class="fa-solid fa-filter"></i> Filter</a></li>
                <li><a href="#" class="botton"><i class="fa-solid fa-ellipsis"></i> Show menu</a></li>
                </div>
            </ul>

        </nav>



    </div>


    <div class="listGroup">
        <div class="list">
            <input type="text" class="textContent buttonCard " placeholder="+ Add a list">
        </div>
    </div>
    
    


</body>
</html>